<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
  Sign up
</button>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create an account</h4>
      </div>
    
    <div class="modal-body">  
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 
         <%= f.label :name %> 
        <%= f.text_field :name, class: 'form-control' %>
      
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
     
        <%= f.label :password %> 
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      
      <div class="actions">
    <%= f.submit "Create Account", class: "btn btn-default" %>
      </div>
    <% end %>
    </div>     
    </div>
  </div>
</div>
 