<div class="container righty"> 
  <div class="row"> 

  
    <div class="col-xs-4">
      <span class="glyphicon glyphicon-stop color-<%=@goal.color%>"></span> <h1 class="goal-name"> <%= @goal.name %> </h1>
    </div>
    <div class="col-xs-5">      
      <%= link_to goal_path(@goal.id), method: :delete, data: {confirm: "Delete this goal?"}   do %>
        <span class="glyphicon glyphicon-trash delete goal-menu-icon" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

 <div id="cal-heatmap"></div>
  <br>
  <br>
  <br>
  <section class ="today-tasks">
    <div class="row"> 
      <div class="col-md-2">
        <p class="header-to-do">Today to do: </p>
      </div>
	    <div class="col-md-6">      
        <div id ='today-list'>      
          <%= render @tasks %> 
        </div><hr>
        <div class='add-today'><%= render 'tasks/add_task_form' %></div>
        <div class='add-task-button'>Add task</div>
	    </div>
    </div>
  </section>

   
  <%= content_tag :div, class: "heatmap-data", data: {cmon: @cmon} do %>
  <% end %>
</div>