<!DOCTYPE html>
<html>
<head>
  <title>Goall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<nav class="user-col">
  <ul class="main-menu">
    <li><%=link_to current_user.name, user_path(current_user.id) %> </li>
  
    <hr> 

    <div id="goal-list">
      <li>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      Goals 
      </li>
      <li>
        <ul class="sub-menu">
          <%= render @goals %>
          <br>
          <li class="add-goal" data-toggle="modal" data-target="#newGoal"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Add goal
          </li> 
        </ul>
      </li>
    </div>
    <hr>
    
    <li><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    <%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>    
  </ul>
</nav>

 <% end %>


<%= yield %>

<!--Modal for adding new goal in sub menu -->
<%= render 'goals/add_goal' %>

</body>
</html>
